<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sample.kedroon.easymath">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".GeometricForms"
            android:label="@string/title_activity_geometric_forms"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.sample.kedroon.easymath.MainActivity" />
        </activity>
        <activity
            android:name=".TriangleOperationsActivity"
            android:label="@string/title_activity_triangle_operations"
            android:parentActivityName=".GeometricForms"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.sample.kedroon.easymath.GeometricForms" />
        </activity>
        <activity
            android:name=".BaseAndHeight"
            android:label="@string/title_activity_base_and_height"
            android:parentActivityName=".TriangleOperationsActivity"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.sample.kedroon.easymath.TriangleOperationsActivity" />
        </activity>
        <activity
            android:name=".ThreeSides"
            android:label="@string/title_activity_three_sides"
            android:parentActivityName=".TriangleOperationsActivity"
            android:windowSoftInputMode="stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.sample.kedroon.easymath.TriangleOperationsActivity" />
        </activity>
        <activity
            android:name=".TwoSidesAndAngle"
            android:label="@string/title_activity_two_sides_and_angle"
            android:parentActivityName=".TriangleOperationsActivity"
            android:windowSoftInputMode="stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.sample.kedroon.easymath.TriangleOperationsActivity" />
        </activity>
        <activity
            android:name=".EquilateralTriangle"
            android:label="@string/title_activity_equilateral_triangle"
            android:parentActivityName=".TriangleOperationsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.sample.kedroon.easymath.TriangleOperationsActivity" />
        </activity>
    </application>

</manifest>
